*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
app/app-release.apk
app/proguard-rules.pro
app/src/test/java/com/advante/golazzos/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle.properties
gradlew
gradlew.bat
settings.gradle
