<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.advante.golazzos">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.advante.golazzos.Helpers.App"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
            <provider android:authorities="com.facebook.app.FacebookContentProvider798330713632475"
                android:name="com.facebook.FacebookContentProvider"
                android:exported="true"/>
        <meta-data android:name="io.fabric.ApiKey"
            android:value="aysi160BEoVT7NPkbb5ZLtv8M"/>
        <meta-data
            android:name="sdk_key"
            android:value="c4c7b727693b86bde5d6778db0a0fe3f9baf7815da49cede58697a9447bbc29d"/>
        <service
            android:name=".Helpers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Helpers.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".CrearCuentaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Wizzard1Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Wizzard2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Wizzard3Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Wizzard4Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PrincipalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.advante.golazzos" />
            </intent-filter>
        </activity>
        <activity android:name=".EstadisticasActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ConfirmarActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ServiceDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".JugadasResultActivity"
            android:screenOrientation="portrait">
        </activity>
        <receiver android:name="io.npay.pin.NPayPinSMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.npay.custom_view.NPayDialogUserData$NPayPinSMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Helpers.CustomInstallTrackersReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
